
:root {
    --main-font: 14px;
        --secondary-font: 26px;
        margin: 0;
        padding: 0;
    
        --main-color: #212121;
        --grey-color: #757575;
        --sky-color: #2196F3;
        --white-color: #FFFFFF;
        --darkhalf-color: #2F303A;
        --darkest-color: #000000;
        --lamp-color: #ECECEC;
        --ice-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #ffffff;
    color: #212121;
    letter-spacing: 3%;
}

header {
    width: 1200px;
    background: #ffffff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

}

.webstudiologo {
    font-family: Raleway;
    font-style: Bold;
    font-size: 26px;
    line-height: 31px;
    line-height: 100%;
    box-align: Left;
    vertical-align: Top;
    text-decoration: none;
    color: #2196F3;
}

.studioword {
    color: #000000;
}

.headlink {
    color: #212121;
    font-weight: 500;
    line-height: 16.4px;
    text-decoration: none;
}


.headcontacts {
    color: #757575;
    font-weight: 500;
    line-height: 16.4px;
    text-decoration: none;
}

.headlink:hover, .headlink:focus,
.headcontacts:hover, .headcontacts:hover {
    color: #2196F3;
}


/* main-box */

.project {
        font-weight: 400;
        color: #757575;
        text-align: left;
  }

/* все веб сайты приложения дизайн */
.buttonfilter-list {
    display: flex;
}
.buttonfilter {
font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #212121;
    background-color: #F5F4FA ;
    padding: 6px 22px 6px 22px;
    border-radius: 5px;
    cursor: pointer; }

.buttonfilter:focus, .buttonfilter:hover  {
    color: #FFFFFF;
    background-color: #2196f3;

}
.project-variation-list {
   }

/* foter */
footer {
    background-color: #2F303A;
}

.studioword-foter {
    color: rgb(255, 255, 255);
}

.foterlogo {
    font-family: Raleway;
    font-style: Bold;
    font-size: 26px;
    line-height: 31px;
    line-height: 100%;
    box-align: Left;
    vertical-align: Top;
    text-decoration: none;
    color: #2196F3;
    padding-top: 60px 60px 60px 60px;
    margin-top: 60px 60px 60px 60px;
}

[href="https://goo.gl/maps/RiCtfUiZejfkSYfk7"] {
    color: #FFFFFF;
    text-decoration: none;
}

.contacts-foter-list {
    color: rgba(255, 255, 255, 0.6);
    margin: 0px 0px 0px 20px; }