/* font-family: 'Raleway',
sans-serif;  */

:root {
    --main-font: 14px;
    --secondary-font: 26px;
    margin: 0;
    padding: 0;

    --main-color: #212121;
    --grey-color: #757575;
    --sky-color: #2196F3;
    --white-color: #FFFFFF;
    --darkhalf-color: #2F303A;
    --darkest-color: #000000;
    --lamp-color: #ECECEC;
    --ice-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #ffffff;
    color: #212121;
    letter-spacing: 3%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

li {
    list-style-type: none;
}


/* header section */
header {

    
}
.webstudiologo{
    font-family: Raleway;
    font-style: Bold;
    font-size: 26px;
    line-height: 31px;
    box-align: Left;
    vertical-align: Top;
    text-decoration: none;
    color: #2196F3;
    
}
.studioword {
    color: #000000;
    }
.headlink {
    color: #212121;
    font-weight: 500;
    line-height: 16.4px;
    text-decoration: none;
}

.headcontacts {
    color: #757575;
    font-weight: 500;
    line-height: 16.4px;
    text-decoration: none;
}

.headlink:hover, .headcontacts:hover {
    color: #2196F3;
}
.headlink:focus,
.headcontacts:focus {
    color: #2196F3;
}
.corent {}

/* main section */
.topback { 
    background: #2F303A ;
    color: #FFFFFF;
    width: 1600px;
    height: 600px;
}
.slogan {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.16;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

}
.buttonorder {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: var(--sky-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

}
.buttonorder:hover, .buttonorder:focus {
    background-color: #188CE8;
}



section {
    width: 1600px;
}

h2 {font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
    letter-spacing: 0.03em;
    }
.metods-head {
    font-weight: 700;
    line-height: 16.41px;
    text-transform: uppercase;
}
.metods-text{
    font-weight: 400;
    color: #757575;
    text-align: left;
}

.foto-keypad {
    margin: 50px 30px 0px 215px;
}
.foto-laptop {
    margin: 50px 30px 0px 0px;
}
.foto-laptop-b {
    margin: 50px 30px 0px 0px;
}
/* our-team-section */
.our-team-head {
    margin-top: 180px;
}

.foto-igor {
    margin: 50px 30px 0px 215px;
}
.foto-olga, .foto-nikolay, .foto-mihael {
    margin: 50px 30px 0px 0px;
}
.team-person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    
}
.team-person-position {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #757575;
    text-align: center;
}


/* foter */
footer {
    background-color: #2F303A;
}

.studioword-foter {
    color: rgb(255, 255, 255);
}

.foterlogo {
    font-family: Raleway;
    font-style: Bold;
    font-size: 26px;
    line-height: 31px;
    line-height: 100%;
    box-align: Left;
    vertical-align: Top;
    text-decoration: none;
    color: #2196F3;
    padding-top: 60px 60px 60px 60px;
    margin-top: 60px 60px 60px 60px;
}



.contacts-foter-list {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    margin: 0px 0px 0px 20px;
}

[href="https://goo.gl/maps/RiCtfUiZejfkSYfk7"] {}